@media (max-width: 767px) {
    .center {
        padding-left: 41px;
        padding-right: 41px;
    }
    .header{
        height: 700px;
        background-image: url(./images/MobileBigStar.svg);
        background-position: top right;

        &__left-stars{
            &::before {
                width: 35px;
                height: 35px;
                background-size: contain;
                left: 38px;
                top: 97px;
            }
            
            &::after {
                width: 21px;
                height: 21px;
                background-size: contain;
                left: 92px;
                top: 64px;
            }
        }

        &__right-stars{
            &::before {
                width: 18px;
                height: 18px;
                background-size: contain;
                left: 273px;
                top: 557px;
            }
            
            &::after {
                width: 39px;
                height: 41px;
                background-size: contain;
                left: 304px;
                top: 580px;
            }
        }
    }

    .top{
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        height: 371px;
        flex-direction: column;
        justify-content: center;


        &__heading{
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        &__description{
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            padding-bottom: 36px;
        }

        &__btn{
            display: none;
        }

        &__btn-mobile{
            padding: 16px 103px;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            max-width: 285px;
            box-sizing: border-box;
            margin: 0 auto;
            display: inline-block;
            background: $base-color;
            color: $article-color;
            border: none;
            border-radius: 60px;
            cursor: pointer;
            line-height: 142%;
        }
    }

    .running-line{
        height: 52px;

        &__box{
            gap: 27px;

            svg {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
            }
        }

        &__text{
            font-size: 16px;
            line-height: 20px;
        }
    }

    .about{
        display: none;
    }

    .game{
        &--flex{
            gap: 24px;
        }

        &__item{
            &--mini-games{
                width: 343px;
                height: 100%;
                flex-direction: column;
            }

            &--reverse{
                flex-direction: column;
            }
        }

        &__img{
            display: block;
            overflow: hidden;
        }

        &__block{
            &--mini-games{
                margin: 29px 29px 33px 29px;
                display: block;
                width: 284px;
            }
        }

        &__name{
            &--mini-games{
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                text-align: left;
                margin-bottom: 16px;
            }
        }

        &__description{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
        }

          &__btn{
            font-size: 16px;
            border-radius: 60px;
            border: none;
            padding: 16px 110px;
        }

        &__btn:hover{
            background-color: $base-color;
            color: $article-color;
            border: none;
        }
    }

    .mini-games{
        padding-top: 48px;
        padding-bottom: 10px;

        &__top-stars{
            &::before, &::after {
            display: none;
            }
        }

        &__bottom-stars{
            &::before, &::after {
            display: none;
            }
        }

        &__heading{
            font-size: 40px;
            line-height: 49px;
            text-align: left;
            margin-bottom: 48px;
            margin-left: -25px;
        }
    }

    .footer{
        height: 100px;

        &__text{
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            padding-top: 40px;
        }
    }
}

