@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 688px/2);
        padding-right: calc(50% - 688px/2);
    }

    .header{
        &__left-stars{
            &::before {
                left: 38px;
                top: 97px;
            }
            
            &::after {
                left: 92px;
                top: 64px;
            }
        }

        &__right-stars{
            &::before {
                left: 273px;
                top: 557px;
            }
            
            &::after {
                left: 304px;
                top: 580px;
            }
        }
    }

    .about{
        display: none;
    }

    .game{
        flex-direction: column;
        align-items: center;

        &--flex{
            gap: 24px;
        }

        &__item{
            &--mini-games{
                width: 343px;
                height: 100%;
                flex-direction: column;
            }

            &--reverse{
                flex-direction: column;
            }
        }

        &__img{
            display: block;
            overflow: hidden;
        }

        &__block{
            &--mini-games{
                margin: 29px 29px 33px 29px;
                display: block;
                width: 284px;
            }
        }

        &__name{
            &--mini-games{
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                text-align: left;
                margin-bottom: 16px;
            }
        }

        &__description{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
        }

          &__btn{
            font-size: 16px;
            border-radius: 60px;
            border: none;
            padding: 16px 110px;
        }

        &__btn:hover{
            background-color: $base-color;
            color: $article-color;
            border: none;
        }
    }

    .mini-games{
        padding-top: 86px;
        padding-bottom: 10px;

        &__top-stars{
            &::before, &::after {
            display: none;
            }
        }

        &__bottom-stars{
            &::before, &::after {
            display: none;
            }
        }
    }
}