* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background-color: #E1FF8F;
  background-image: url(./images/GroupStar.svg);
  background-position: right;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
.header__left-stars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header__left-stars::before, .header__left-stars::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.header__left-stars::before {
  background-image: url(./images/LeftColorStar.svg);
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
}
.header__left-stars::after {
  background-image: url(./images/LeftStar.svg);
  width: 35px;
  height: 35px;
  left: 156px;
  top: 69px;
}
.header__right-stars {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header__right-stars::before, .header__right-stars::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
}
.header__right-stars::before {
  background-image: url(./images/RightColorStar.svg);
  width: 37px;
  height: 37px;
  left: 948px;
  top: 538px;
}
.header__right-stars::after {
  background-image: url(./images/RightStar.svg);
  width: 83px;
  height: 83px;
  left: 1013px;
  top: 568px;
}

.top {
  position: relative;
  padding-top: 196px;
  padding-bottom: 156px;
}
.top__heading {
  color: #202027;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
  max-width: 768px;
}
.top__span {
  display: block;
}
.top__description {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  max-width: 720px;
  padding-top: 24px;
  padding-bottom: 48px;
}
.top__description--bold {
  font-weight: 600;
}
.top__btn {
  display: inline-block;
  padding: 16px 65px;
  background: #202027;
  color: #FFFFFF;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: 0.3s;
}
.top__btn:hover {
  background-color: #FFFFFF;
  color: #202027;
}
.top__btn-mobile {
  display: none;
}

.running-line {
  height: 90px;
  background-color: #BCEC30;
}

.about {
  padding-bottom: 50px;
  background-color: #202027;
  background-image: url(./images/BigStar.svg);
  background-position: right 111px;
  background-repeat: no-repeat;
}
.about::before, .about::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
}
.about::before {
  background-image: url(./images/MiniStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  left: 28px;
  top: 1570px;
}
.about::after {
  background-image: url(./images/BigStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  left: 45px;
  top: 1622px;
}
.about__heading {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 24px;
}
.about__description {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 72px;
}
.about__span {
  display: block;
}

.game {
  display: flex;
  gap: 32px;
}
.game--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.game__item {
  background-color: #FFFFFF;
  border-radius: 30px;
  max-width: 378px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.8s;
}
.game__item--minsize {
  min-height: 473px;
}
.game__item--mediumsize {
  min-height: 512px;
}
.game__item--maxsize {
  min-height: 551px;
}
.game__item--mini-games {
  background-color: #FFFFFF;
  border-radius: 30px;
  max-width: 1200px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.game__item--reverse {
  display: flex;
  flex-direction: row;
}
.game__item:hover {
  transform: scale(1.1);
}
.game__item--mini-games:hover {
  transition: none;
  transform: none;
}
.game__img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  display: block;
}
.game__block {
  margin: 32px 32px 36px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.game__block--mini-games {
  margin: 48px 48px 203px 48px;
  display: block;
  max-width: 600px;
  width: 100%;
}
.game__order {
  box-sizing: border-box;
  border-radius: 53px;
  background-color: #F7F7F7;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  max-width: 111px;
  padding: 9px 16px;
  text-align: center;
  color: #202027;
}
.game__test-transfer {
  display: block;
}
.game__name {
  color: #202027;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}
.game__name--mini-games {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 59px;
  text-align: left;
}
.game__description {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 36px;
}
.game__btn {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0;
  text-align: center;
  border-radius: 60px;
  background: #202027;
  border: none;
  padding: 16px 75px;
  transition: 0.3s;
}
.game__btn:hover {
  background-color: #FFFFFF;
  color: #202027;
  border: 1px solid #202027;
}

.two-games {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-games {
  padding-top: 46px;
  padding-bottom: 144px;
  background-color: #202027;
}
.mini-games__top-stars::before, .mini-games__top-stars::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
}
.mini-games__top-stars::before {
  background-image: url(./images/MiniStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  left: 1281px;
  top: 2363px;
}
.mini-games__top-stars::after {
  background-image: url(./images/BigStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 69px;
  height: 69px;
  left: 1326px;
  top: 2396px;
}
.mini-games__bottom-stars::before, .mini-games__bottom-stars::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
}
.mini-games__bottom-stars::before {
  background-image: url(./images/MiniStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  left: 1249px;
  top: 5684px;
  transform: rotate(-5.45deg);
}
.mini-games__bottom-stars::after {
  background-image: url(./images/BigStarAboutGames.svg);
  background-repeat: no-repeat;
  width: 69px;
  height: 69px;
  left: 1319px;
  top: 5636px;
  transform: rotate(-5.45deg);
}
.mini-games__heading {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 72px;
}

.footer {
  background-color: #BDED35;
  height: 150px;
}
.footer__text {
  color: #202027;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 61px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 344px);
    padding-right: calc(50% - 344px);
  }
  .header__left-stars::before {
    left: 38px;
    top: 97px;
  }
  .header__left-stars::after {
    left: 92px;
    top: 64px;
  }
  .header__right-stars::before {
    left: 273px;
    top: 557px;
  }
  .header__right-stars::after {
    left: 304px;
    top: 580px;
  }
  .game {
    flex-direction: column;
    align-items: center;
  }
  .game--flex {
    gap: 24px;
  }
  .game__item--mini-games {
    width: 343px;
    height: 100%;
    flex-direction: column;
  }
  .game__item--reverse {
    flex-direction: column;
  }
  .game__img {
    display: block;
    overflow: hidden;
  }
  .game__block--mini-games {
    margin: 29px 29px 33px 29px;
    display: block;
    width: 284px;
  }
  .game__name--mini-games {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    margin-bottom: 16px;
  }
  .game__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .game__btn {
    font-size: 16px;
    border-radius: 60px;
    border: none;
    padding: 16px 110px;
  }
  .game__btn:hover {
    background-color: #202027;
    color: #FFFFFF;
    border: none;
  }
  .mini-games {
    padding-top: 48px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 41px;
    padding-right: 41px;
  }
  .header {
    height: 700px;
    background-image: url(./images/MobileBigStar.svg);
    background-position: top right;
  }
  .header__left-stars::before {
    width: 35px;
    height: 35px;
    background-size: contain;
    left: 38px;
    top: 97px;
  }
  .header__left-stars::after {
    width: 21px;
    height: 21px;
    background-size: contain;
    left: 92px;
    top: 64px;
  }
  .header__right-stars::before {
    width: 18px;
    height: 18px;
    background-size: contain;
    left: 273px;
    top: 557px;
  }
  .header__right-stars::after {
    width: 39px;
    height: 41px;
    background-size: contain;
    left: 304px;
    top: 580px;
  }
  .top {
    padding-top: 147px;
    padding-bottom: 131px;
    display: flex;
    height: 371px;
    flex-direction: column;
    justify-content: center;
  }
  .top__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
  }
  .top__btn {
    display: none;
  }
  .top__btn-mobile {
    padding: 16px 103px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    max-width: 285px;
    box-sizing: border-box;
    margin: 0 auto;
    display: inline-block;
    background: #202027;
    color: #FFFFFF;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    line-height: 142%;
  }
  .running-line {
    height: 52px;
  }
  .about {
    display: none;
  }
  .game--flex {
    gap: 24px;
  }
  .game__item--mini-games {
    width: 343px;
    height: 100%;
    flex-direction: column;
  }
  .game__item--reverse {
    flex-direction: column;
  }
  .game__img {
    display: block;
    overflow: hidden;
  }
  .game__block--mini-games {
    margin: 29px 29px 33px 29px;
    display: block;
    width: 284px;
  }
  .game__name--mini-games {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    margin-bottom: 16px;
  }
  .game__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .game__btn {
    font-size: 16px;
    border-radius: 60px;
    border: none;
    padding: 16px 110px;
  }
  .game__btn:hover {
    background-color: #202027;
    color: #FFFFFF;
    border: none;
  }
  .mini-games {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .mini-games__top-stars::before, .mini-games__top-stars::after {
    display: none;
  }
  .mini-games__bottom-stars::before, .mini-games__bottom-stars::after {
    display: none;
  }
  .mini-games__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: left;
    margin-bottom: 48px;
    margin-left: -25px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */