@import "variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: inherit;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
  height: 800px;
  background-color: $top-color;
  background-image: url(./images/GroupStar.svg);
  background-position:right;
  background-repeat:no-repeat;
  z-index: 1;
  position: relative;

    &__left-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      background-repeat: no-repeat;
    }
    
    &::before {
      background-image: url(./images/LeftColorStar.svg);
      width: 57px;
      height: 57px;
      left: 63px;
      top: 94px;
    }
    
    &::after {
      background-image: url(./images/LeftStar.svg);
      width: 35px;
      height: 35px;
      left: 156px;
      top: 69px;
    }
  }

  &__right-stars {
    position: absolute;
    width: 100%;
    height: 100%;
    
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      background-repeat: no-repeat;
    }
    
    &::before {
      background-image: url(./images/RightColorStar.svg);
      width: 37px;
      height: 37px;
      left: 948px;
      top: 538px;
    }
    
    &::after {
      background-image: url(./images/RightStar.svg);
      width: 83px;
      height: 83px;
      left: 1013px;
      top: 568px;
    }
  }
}

.top{
  position: relative;
  padding-top: 196px;
  padding-bottom: 156px;

  &__heading{
    color: $base-color;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0;
    text-align: left;
    max-width: 768px;
  }

  &__span{
    display: block;
  }

  &__description{
    color: $base-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    max-width: 720px;
    padding-top: 24px;
    padding-bottom: 48px;
      &--bold{
        font-weight: 600;
      }
  }

  &__btn{
    display: inline-block;
    padding: 16px 65px;
    background: $base-color;
    color: $article-color;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    transition: 0.3s;
  }

  &__btn:hover{
    background-color: $article-color;
    color: $base-color;
  }

  &__btn-mobile{
    display: none;
  }
}

.running-line{
  height: 90px;
  background-color: $light-green-color;
}

.about{
  padding-bottom: 50px;
  background-color: $base-color;
  background-image: url(./images/BigStar.svg);
  background-position:right 111px;
  background-repeat:no-repeat;

  &::before, &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
  }

  &::before {
    background-image: url(./images/MiniStarAboutGames.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    left: 28px;
    top: 1570px;
  }
  
  &::after {
    background-image: url(./images/BigStarAboutGames.svg);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    left: 45px;
    top: 1622px;
  }

  &__heading{
    color: $article-color;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0;
    text-align: left;
    padding-top: 94px;
    margin-bottom: 24px;
  }

  &__description{
    color: $article-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 72px;
  }

  &__span{
    display: block;
  }
}

.game{
  display: flex;
  gap: 32px;

  &--flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__item{
    background-color: $article-color;
    border-radius: 30px;
    max-width: 378px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.8s;

    &--minsize{
      min-height: 473px;
    }

    &--mediumsize{
      min-height: 512px;
    }

    &--maxsize{
      min-height: 551px;
    }

    &--mini-games{
    background-color: $article-color;
    border-radius: 30px;
    max-width: 1200px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    }

    &--reverse{
      display: flex;
      flex-direction: row;
    }
  }

  &__item:hover{
    transform: scale(1.1);
  }

  &__item--mini-games:hover{
    transition: none;
    transform: none;
  }

  &__img{
    border-radius: 30px;
    width: 100%;
    height: auto;
    display: block;
  }

  &__block{
    margin: 32px 32px 36px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;

    &--mini-games{
      margin: 48px 48px 203px 48px;
      display: block;
      max-width: 600px;
      width: 100%;
    }
  }

  &__order{
    box-sizing: border-box;
    border-radius: 53px;
    background-color: #F7F7F7;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    max-width: 111px;
    padding: 9px 16px;
    text-align: center;
    color: $base-color;
  }

  &__test-transfer{
    display: block;
  }

  &__name{
    color: $base-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;

    &--mini-games{
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 59px;
      text-align: left;
    }
  }

  &__description{
    color: $base-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 36px;
  }

  &__btn{
    color:$article-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0;
    text-align: center;
    border-radius: 60px;
    background: $base-color;
    border: none;
    padding: 16px 75px;
    transition: 0.3s;
  }

  &__btn:hover{
    background-color: $article-color;
    color: $base-color;
    border:1px solid $base-color;
  }
}

.two-games{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-games{
  padding-top: 46px;
  padding-bottom: 144px;
  background-color: $base-color;

  &__top-stars{
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      z-index: 0;
    }

    &::before {
      background-image: url(./images/MiniStarAboutGames.svg);
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      left: 1281px;
      top: 2363px;
    }
    
    &::after {
      background-image: url(./images/BigStarAboutGames.svg);
      background-repeat: no-repeat;
      width: 69px;
      height: 69px;
      left: 1326px;
      top: 2396px;
    }
  }

  &__bottom-stars{
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      z-index: 0;
    }

    &::before {
      background-image: url(./images/MiniStarAboutGames.svg);
      background-repeat: no-repeat;
      width: 41px;
      height: 41px;
      left: 1249px;
      top: 5684px;
      transform: rotate(-5.45deg);
    }
    
    &::after {
      background-image: url(./images/BigStarAboutGames.svg);
      background-repeat: no-repeat;
      width: 69px;
      height: 69px;
      left: 1319px;
      top: 5636px;
      transform: rotate(-5.45deg);
    }
  }

  &__heading{
    color: $article-color;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 72px;
  }
}

.footer{
  background-color: $footer-color;
  height: 150px;

  &__text{
    color: $base-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    padding-top: 61px;
  }
}

@import 'tablet';
@import 'mobile';